/* General template */
@import url(./root.css);

/* Navbar styles */

.nav {
    /* position:fixed; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    color: rgb(95,99,104);
    /* box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.671); */
}

.nav--firstElements {
    display: flex;
}

.logo {
    display: flex;
    margin:  0 16px;
    align-self: center;
}

.logo img {
    width: 56px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo h1 {
    align-self: center;
    font-size: 2rem;
    font-weight: 600;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav__icon {
    padding: 12px;
    font-size: 2rem;
}

.nav__icon:last-of-type {
    font-size: 2.4rem;
}

ul.nav--listOptions {
    display: none;
}

ul.nav--listOptions li {
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 600;
}

ul.nav--listOptions li:hover {
    color: black;
}

ul.nav--listOptions li:nth-child(2) {
    color: var(--green-active-text);
    border-bottom: var(--green-active-text) 4px solid;
    display: inline-block;
}


.main {
    margin: 0 auto;
}

.slashDevices {
    width: 90%;
    display: flex;
    margin: 24px auto;
    overflow: auto;
    /* justify-content: space-between; */
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scrollbar-width: none; /* *For firefox*/
}

.slashDevices::-webkit-scrollbar {
    display: none;
}

.slashDevies__device {
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 5px 16px;

}
/* This class is useful cuz is for use again in ohter aspects where page use the same design */
.circleOptions {  
    border-radius: 30px;
    border: 1.5px solid var(--gray-light);
    color: var(--gray-visited);
    font-size: 1.4rem;
}

.circleOptions:hover {
    background-color: rgba(226, 217, 217, 0.363);
}

.circleOptions--active {
    /* Class active */
    border: none;
    background-color: var(--green-active-background);
    color: var(--green-active-text);
}

/* Class to affect only to the first ul who is about the devices app list */
.slashDevies__device--icon{
    
    scroll-snap-align: center; /* Only for the bar where have ovelflow-x */
}

.slashDevies__device--icon span {
    margin-left: 8px;
    
}

/* Top Charts Section */

.topCharts {
    margin-top: 40px;
}

.topCharts__header {
    width: 90%;
    margin: 0 auto;
}

.topCharts__header h2 {
    font-size: 1.6rem;
}

.topCharts__header ul {
    display: flex;
    margin-top: 20px;
}

/* List of apps */

.topCharts__squareApps {
    width: 90%;
    margin: 20px auto;
}
/* Grid of apps */
.listApps {
    display: grid;
    grid-template-rows: repeat(3, minmax(70px, 90px));
    grid-template-columns: repeat(3, minmax(400px, 500px));
    /* grid-auto-rows: 3fr; */
    grid-auto-flow: column;
    /* gap: 25px; */
    height: 250px;
    overflow: scroll;
/* Hide Scroll bar in firefox */
    scrollbar-width: none;
}


/* Hide Scroll bar in Chrome */
.listApps::-webkit-scrollbar {
    display: none;
}

/* 
    Estas propiedades le brindan al grid el aspecto de acomodarse por columna, orden de que deliza
    hacia abajo, pero en la segunda columna continua el contenido. 
    Something like that
    1   4
    2   5
    3   6
    Flujo abajo, derecha, abajo.

    La dirección con grid-auto-flow: column. Este test
    Nos permite hacer esta orientaición.

    Otro punto a tener en cuenta para lograr este modelo, es tener rows del que se requiere, pero igual sus columnas.
    *Podríamos probar que tanto uso podemos tener con autofit para el detalle de los tamaños y lucir mejor.
    Checar como salió ese color sobre extensión de comentarios.

    Lo que continuaría, sería, poder tener scroll oculto, como el primer modelo de menú y mejorar los bordes

e*/


/* @media  screen and (min-width:840px) {
    .listApps {
        
    }
} */

.listApps a {
    cursor: pointer;
    display: block;
}

.listApps a:hover {
    background-color: rgba(226, 217, 217, 0.144);
    border-radius: 15px;
}

.listApps__card {
    display: flex;
    align-items: center;
    padding: 12px;
}

.cardApp__number {
    display: block;
    margin-right: 10px;
}

.cardApp {
    display: flex;
}

.cardApp img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.cardApp__info {
    padding: 0 0 0 15px;
}

.cardApp__info p {
    font-size: 1rem;
    color: var(--gray-subtitles);
}

.cardApp__info p:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--gray-texts);
}

.cardApp__info i {
    font-size: .9rem;
}



@media  screen and (min-width:840px) {
    .nav {
        height: 64px;
        
    }

    .logo h1 {
        font-size: 2rem;
    }

    .logo img {
        width: 46px;
        height: 46px;
    }

    
    .nav__icon:last-of-type {
        font-size: 2.4rem;
        padding: 8px;
    }


    ul.nav--listOptions {
        display: flex;
    }


    .slashDevices {
        width: 70%;
    }

    /* Adjusts of settings texts */

    .cardApp__info p {
        font-size: 1.1rem;
        
    }

    .cardApp__info p:nth-child(1) {
        font-size: 1.4rem;
        padding-bottom: 1px;
    }

    /* Main mayor */

    .main {
        width: 78%;
    }




}

